// vim: ft=groovy syntax=nextflow

def assets_dir = System.getenv("PLUMBER_ASSETS_PATH")
if (assets_dir == null) {
    def config_home = System.getenv("NEXTFLOW_CONFIG_HOME")
    if (config_home) {
        assets_dir = "${config_home}/nf-core/assets"
    } else {
        throw new Exception("could not resolve path to assets, set NEXTFLOW_CONFIG_HOME")
    }
}

params {
    fasta = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
    fai = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa.fai"
    bwamem2 = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/bwamem2Index"
    mito_name = "chrM"
    intervals_wgs = "${assets_dir}/GRCh38_chr1-chr22chrXchrYchrM.interval_list"
    intervals_y = "${assets_dir}/GRCh38_chrY.interval_list"
    variant_catalog = "${assets_dir}/raredisease/disease_loci/ExpansionHunter-v5.0.0/variant_catalog_grch38.json"
    vcfanno_toml = "${assets_dir}/raredisease/vcfanno/vcfanno.toml"
    vcfanno_resources = "${assets_dir}/raredisease/vcfanno/vcfanno_resources.txt"
    score_config_mt = "${assets_dir}/raredisease/genmod/rare_disease_rank_model_0.1.ini"
    score_config_snv = "${assets_dir}/raredisease/genmod/rare_disease_rank_model_0.1.ini"
    // score_config_sv: "${assets_dir}/rare_disease/genmod/rare_disease_rank_model_sv_0.1.ini"
    variant_consequences_snv = "${assets_dir}/variant_consequences.txt"
    variant_consequences_sv = "${assets_dir}/variant_consequences.txt"
    vep_filters = "${assets_dir}/raredisease/clinical_hgnc.txt"
    vep_plugin_files = "${assets_dir}/raredisease/vep_plugin_files.csv"
}

process {
    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:ANNOTATE_GENOME_SNVS:VCFANNO' {
        cpus = 12
    }

    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:CALL_SNV:CALL_SNV_DEEPVARIANT:DEEPVARIANT' {
        cpus = 32
    }
    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:ANNOTATE_GENOME_SNVS:ENSEMBLVEP_SNV' {
        ext.args = { [
            '--appris',
            '--biotype',
            '--buffer_size 20000',
            '--cache',
            '--canonical',
            '--ccds',
            '--check_existing',
            '--compress_output bgzip',
            '--custom clinvar/clinvar_20240819.vcf.gz,CLINVAR,vcf,exact,0,CLNSIG,CLNREVSTAT',
            '--dir_plugins /storage/userdata/references/vep/Plugins',
            '--distance 5000',
            '--domains',
            '--exclude_predicted',
            '--force_overwrite',
            '--format vcf',
            '--hgvs',
            '--humdiv',
            '--max_sv_size 248956422',
            '--merged',
            '--no_progress',
            '--numbers',
            '--offline',
            '--plugin dbNSFP,dbNSFP4.9a/dbNSFP4.9a_grch38.gz,GERP++_RS,phastCons100way_vertebrate,phyloP100way_vertebrate',
            '--plugin LoFtool,LoFtool_scores.txt',
            '--plugin MaxEntScan,MaxEntScan,SWA',
            '--plugin pLI,pLI_values.txt',
            '--plugin REVEL,file=revel-v1.3/revel_with_transcript_ids_grch38.tsv.gz',
            '--plugin SpliceAI,snv=spliceai_1.3/spliceai_scores.raw.snv.hg38.vcf.gz,indel=spliceai_1.3/spliceai_scores.raw.indel.hg38.vcf.gz',
            '--polyphen p',
            '--protein',
            '--regulatory',
            '--sift p',
            '--symbol',
            '--tsl',
            '--uniprot',
            '--vcf',
        ].join(' ') }
        cpus = 8
    }

    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:CALL_STRUCTURAL_VARIANTS:CALL_SV_TIDDIT:SVDB_MERGE_TIDDIT' {
        ext.prefix = { "${meta.id}_tiddit.svdb_merge" }
    }

    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:QC_BAM:MOSDEPTH' {
        container = 'https://depot.galaxyproject.org/singularity/mosdepth:0.3.10--h4e814b3_1'
        ext.args = '--d4'
    }
}
