// vim: ft=groovy syntax=nextflow

params.platform = 'illumina'
params.igenomes_base = '/storage/userdata/references/igenomes'
params.genome = 'GRCh38'
params.aligner = 'bwamem2'
params.bwamem2 = '/storage/userdata/references/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/bwamem2Index'
params.intervals_wgs = '/storage/userdata/pipelines/config-files/nf-core/assets/GRCh38_chr1-chr22chrXchrYchrM.interval_list'
params.intervals_y = '/storage/userdata/pipelines/config-files/nf-core/assets/GRCh38_chrY.interval_list'
params.variant_catalog = '/storage/userdata/pipelines/config-files/nf-core/assets/raredisease/disease_loci/ExpansionHunter-v5.0.0/variant_catalog_grch38.json'
params.variant_caller = 'deepvariant'
params.vcfanno_toml = '/storage/userdata/pipelines/config-files/nf-core/assets/raredisease/vcfanno/vcfanno.toml'
params.vcfanno_resources = '/storage/userdata/pipelines/config-files/nf-core/assets/raredisease/vcfanno/vcfanno_resources.txt'
params.score_config_snv = '/storage/userdata/pipelines/config-files/scout-annotation/rare_disease/rank_model/rare_disease_rank_model_0.1.ini'
// score_config_sv = '/storage/userdata/pipelines/config-files/scout-annotation/rare_disease/rank_model/rare_disease_rank_model_sv_0.1.ini'
params.variant_consequences_snv = '/storage/userdata/pipelines/config-files/nf-core/assets/variant_consequences.txt'
params.variant_consequences_sv = '/storage/userdata/pipelines/config-files/nf-core/assets/variant_consequences.txt'
params.vep_cache_version = 110
params.vep_cache = '/storage/userdata/references/vep/homo_sapiens/110_GRCh38' 
params.vep_filters = '/storage/userdata/pipelines/config-files/nf-core/assets/raredisease/clinical_hgnc.txt'
params.vep_plugin_files = '/storage/userdata/pipelines/config-files/nf-core/assets/raredisease/vep_plugin_files.csv'
params.gnomad_af = '/storage/userdata/references/homo_sapiens/GRCh38_hg38/gnomad/gnomad.genomes.v4.1.sites.af.tab.gz'

// Skip some things for now since we don't have normal panels or other
// info needed for these steps.
params.skip_germlinecnvcaller = true
params.skip_sv_annotation = true
params.skip_me_calling = true
params.skip_me_annotation = true

// Profiles specific for nf-core/raredisease
profiles {
    wgs {
        params.analysis_type = 'wgs'
    }

    wes {
        params.analysis_type = 'wes'
    }

    mito {
        params.analysis_type = 'mito'
    }
}

process {
    withName: '.*ANNOTATE_GENOME_SNVS:VCFANNO' {
        cpus = 12
    }

    withName: '.*CALL_SNV:CALL_SNV_DEEPVARIANT:DEEPVARIANT' {
        cpus = 32
    }
}
