params {
    genomes {
        GRCh38_hmf {
            fasta         = "/storage/userdata/references/GRCh38_hmf/GRCh38_masked_exclusions_alts_hlas.fasta"
            fai           = "/storage/userdata/references/GRCh38_hmf/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
            dict          = "/storage/userdata/references/GRCh38_hmf/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
            img           = "/storage/userdata/references/GRCh38_hmf/GRCh38_masked_exclusions_alts_hlas.fasta.img"
            bwamem2_index = "/storage/userdata/references/GRCh38_hmf/bwa-mem2_index-2.2.1/"
            gridss_index  = "/storage/userdata/references/GRCh38_hmf/gridss_index-2.13.2/"
            star_index    = "/storage/userdata/references/GRCh38_hmf/star_index-gencode_38-2.7.3a/"
        }
    }
    ref_data_hmf_data_path   = "/storage/userdata/references/GRCh38_hmf/hmf_pipeline_resources.38_v2.3.0--2/"
}


