// vim: ft=groovy syntax=nextflow

params {
    config_profile_contact = "Niklas Mähler (maehler)"
    config_profile_url = "https://github.com/gmc-norr"
}

process {
    executor = "slurm"
    queue = "clinical"
    scratch = "/tmp"
    maxRetries = 2
    resourceLimits = [
        time: "24.h",
        cpus: 256,
        memory: "2063602.MB"
    ]
}

executor {
    queueSize = 100
    submitRateLimit = "10 sec"
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "/storage/userdata/nextflow_apptainer_cache"
    runOptions = "--cleanenv"
}

profiles {
    clinical {
        params.config_profile_description = "GMC Norr nf-core profile for clinical use"
        process.queue = "clinical"
    }

    research {
        params.config_profile_description = "GMC Norr nf-core profile for research use"
        process.queue = "research"
    }
}
