process {
    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:ANNOTATE_GENOME_SNVS:ENSEMBLVEP_SNV' {
        ext.args = { [
            '--appris',
            '--biotype',
            '--buffer_size 20000',
            '--cache',
            '--canonical',
            '--ccds',
            '--check_existing',
            '--compress_output bgzip',
            '--dir_plugins /storage/userdata/references/vep/Plugins',
            '--distance 5000',
            '--domains',
            '--exclude_predicted',
            '--force_overwrite',
            '--format vcf',
            '--hgvs',
            '--humdiv',
            '--max_sv_size 248956422',
            '--merged',
            '--no_progress',
            '--numbers',
            '--offline',
            '--plugin LoFtool,LoFtool_scores.txt',
            '--plugin pLI,pLI_values.txt',
            '--plugin SpliceAI,snv=spliceai_1.3/spliceai_scores.raw.snv.hg38.vcf.gz,indel=spliceai_1.3/spliceai_scores.raw.indel.hg38.vcf.gz',
            '--plugin MaxEntScan,MaxEntScan,SWA',
            '--polyphen p',
            '--protein',
            '--regulatory',
            '--sift p',
            '--symbol',
            '--tsl',
            '--uniprot',
            '--vcf',
        ].join(' ') }
        cpus = 8
    }
}
